#video{
    width: 100vw;
    height: 100vh;
    z-index: -5;
    position:fixed;
    top:-20;
    left:-10;
    margin:0;
    object-fit: cover;
}
#grained{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
}
#test-grid{
    padding: 0 5% 0 5%;
    display:grid;
    /* background-image: url('texture_compressed.jpg'); */
    width: 90%;
    padding:0 5% 0 5%;
}

.project{
    aspect-ratio: 1 /1.5;
    font-family: 'AUTHENTIC Sans';
    max-width: 100%;
    font-weight: bolder;
    border: solid #0071b7 0.5px;
    color:#0D6BA5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
    overflow: hidden;
    background-color: rgb(255, 255, 255);;
}
.project-info{
    line-height: 20px;
    padding:0 5% 5% 5%;
}
.project-title{
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-author{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.project-media {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #8ab3c9;
}

hr{
    border-top: solid #0863aa 1px;
 }
 
 .project-image img, 
 .project-image video {
     width: 100%;
     height: auto;
     object-fit: cover; /* Crops excess if the image is too long */
     filter: grayscale(1);
 }
 
 .project-image {
     position: relative;
     width: 100%;
     height: auto;
     display: flex;
 }
 
 .project-image::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #ffffff;
     mix-blend-mode: darken;
     pointer-events: none; /* So it doesn’t block interactions */
 }
 .project-image::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #0071b7;
     mix-blend-mode: screen;
     pointer-events: none; /* So it doesn’t block interactions */
     opacity: 1;
     transition:opacity ease-in 0.5s;
 }
 

@media screen and (min-width: 738px){
#test-grid{
    /* padding: 0 5% 0 5%; */
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    width: 90%;
}
.project{
    aspect-ratio: 1 /1.8;
    font-family: 'AUTHENTIC Sans';
    max-width: 100%;
    font-weight: bolder;
    border: solid #0D6BA5 0.5px;
    color:#0D6BA5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
    overflow: hidden;
}

.index{
    color:#0D6BA5;
    font-size: 20px;
}
.project-info{
    line-height: 20px;
    padding:0 5% 5% 5%;
}

.project-title{
    font-weight: 400;
}
.project-author,.project-media{
    font-weight: 400;
}

hr{
   border-top: solid #0D6BA5 1px;
}

.project-image img, 
.project-image video {
    width: 100%;
    height: auto;
    object-fit: cover; /* Crops excess if the image is too long */
    filter: grayscale(1);
}

.project-image {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.project-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    mix-blend-mode: darken;
    pointer-events: none; /* So it doesn’t block interactions */
}
.project-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0863aa;
    mix-blend-mode: screen;
    pointer-events: none; /* So it doesn’t block interactions */
    opacity: 1;
    transition:opacity ease-in 0.5s;
}

.project:hover .project-image img {
    filter:grayscale(0);
}
.project:hover .project-image::after{
    opacity: 0;
}
}

