:root {
    --main-blue: #0768A1;
    --main-white: #eeeeee;
    --off-white: #abafba;

  }

@font-face {
    font-family: 'Authentic';
    src: url('./src/type/AUTHENTICSans-60.otf') format('otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Authentic';
    src: url('./src/type/AUTHENTICSans-90.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Authentic';
    src: url('./src/type/AUTHENTICSans-130.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Authentic';
    src: url('./src/type/AUTHENTICSans-150.otf') format('otf');
    font-weight:bolder;
    font-style: normal;
}

 /* GLOBAL STYLES */
 body {
    margin: 0;
    padding: 0;
    background-color: #0768A1;
    font-family: 'Authentic', Arial, Helvetica, sans-serif;

}

/* HOMEPAGE STYLES */
.homepage {
    /* background-color: var(--main-blue); */
    width: 100vw;
    height: 800vh;
}

.show-info {
    position: absolute;
    /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
    color: white;
    font-weight: 600;
    transform: translateY(10vh);
    text-align: center;
    @media (max-width: 800px) {
        font-size: .8em;
        transform: translateY(43vh);
    }
}

.clock {
    -webkit-filter: drop-shadow( 0px 0px 3px var(--main-white));
    filter: drop-shadow( 0px 0px 3px var(--main-white));
    position: sticky;
    margin: auto;
    margin-bottom: 5vh;
    width: 90vw;
    height: 90vh;
    border: .5px solid var(--main-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 800px) {
        /* … */
        height: 75vh;
        width: 84vw;

    }
}

.logo-svg {
    position: absolute;
    width: 24vw;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 0.5));
    filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 0.5));
    @media (max-width: 800px) {
        /* … */
        width: 36vw;

    }
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.clock-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 1px;

    background-color: var(--main-white);
    transform-origin: bottom;
    transform: rotate(0deg);
}

.second-hand {
    background-color: var(--main-white);
    height: 40%;
    @media (max-width: 800px) {
        /* … */
        height: 20%;
    }
}

.hour-hand {
    background-color: var(--main-white);
    height: 20%;
    @media (max-width: 800px) {
        /* … */
        height: 10%;
    }
}

.name {
    position: absolute;
    font-size: 14px;
    color: var(--main-white);
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Authentic', Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0.1;
    letter-spacing: 1px;
    transition: opacity 3s ease-out;
    @media (max-width: 800px) {
        /* … */
        width: 24vw;

    }
}

.name.show {
    transition: opacity 0.2s ease-in; /* Quick fade-in */
    opacity: 1; /* Make element visible quickly */
}

.name.hide {
    transition: opacity 3s ease-out; /* Slow fade-out */
    opacity: 0.1; /* Make element invisible slowly */
    @media (max-width: 800px) {
        /* … */
        transition: opacity .8s ease-out; /* Slow fade-out */
        opacity: 0;

    }
}

.name:hover {
    -webkit-filter: drop-shadow( 0px 0px 3px var(--main-white));
    filter: drop-shadow( 0px 0px 3px var(--main-white));
    opacity: 1;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: var(--main-white);
}

/* WEBCAM STYLES */

/* statement styles: */

p {
    margin: 0;
}

.index{
    color:#0D6BA5;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 20px 0px 12px 0px;
}
.texture-container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-image: url('texture_compressed.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 12px; */
  }
  
  .statement{
    padding: 3em 0px;
    width: 90%;
    max-width: 1000px;
  }
  
  .statement-logo{
    height:auto;
    width: 100%;
    max-width: 600px;
  }
  
  .statement-text-container{
    margin-left: auto;
    display: block;
    width: fit-content;
  }
  
  .statement-text{
    color: #FFF;
    /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-weight: normal;
  }
  
  .logo-image{
    width: 100%;
  }

/* INDEX STYLES */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}
#video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 66.25vw; 
    transform: translate(-50%, -50%);
}
#grained{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
}
#test-grid{
    padding: 0 5% 0 5%;
    display:grid;
    /* background-image: url('texture_compressed.jpg'); */
    width: 90%;
    padding:0 5% 0 5%;
}

.project{
    aspect-ratio: 1 /1.5;
    font-family: 'Authentic', Arial, Helvetica, sans-serif;
    max-width: 100%;
    font-weight: bolder;
    border: solid #0071b7 0.5px;
    color:#0D6BA5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
    overflow: hidden;
    background-color: rgb(255, 255, 255);;
}
.project-info{
    line-height: 20px;
    padding:0 5% 5% 5%;
}
.project-title{
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-author{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.project-media {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #8ab3c9;
}

hr{
    border-top: solid #0863aa 1px;
    margin: 0;
 }
 
 .project-image img, 
 .project-image video {
     width: 100%;
     height: auto;
     object-fit: cover; /* Crops excess if the image is too long */
     filter: grayscale(1);
 }
 
 .project-image {
     position: relative;
     width: 100%;
     height: auto;
     display: flex;
 }
 
 .project-image::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #ffffff;
     mix-blend-mode: darken;
     pointer-events: none; /* So it doesn’t block interactions */
 }
 .project-image::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #0071b7;
     mix-blend-mode: screen;
     pointer-events: none; /* So it doesn’t block interactions */
     opacity: 1;
     transition:opacity ease-in 0.5s;
 }
 
 

#test-grid{
    /* padding: 0 5% 0 5%; */
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 90%;
}
.project{
    aspect-ratio: 1 /1.8;
    /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
    max-width: 100%;
    font-weight: normal;
    border: solid #0D6BA5 0.5px;
    color:#0D6BA5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
    overflow: hidden;
}
.project-info{
    line-height: 20px;
    padding:0 5% 5% 5%;
}
.project-author,.project-media{
    font-weight: 400;
}

hr{
   border-top: solid #0D6BA5 1px;
}

.project-image img, 
.project-image video {
    width: 100%;
    height: auto;
    object-fit: cover; /* Crops excess if the image is too long */
    filter: grayscale(1);
}

.project-image {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.project-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    mix-blend-mode: darken;
    pointer-events: none; /* So it doesn’t block interactions */
}
.project-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0863aa;
    mix-blend-mode: screen;
    pointer-events: none; /* So it doesn’t block interactions */
    opacity: 1;
    transition:opacity ease-in 0.5s;
}

.project:hover .project-image img {
    filter:grayscale(0);
}
.project:hover .project-image::after{
    opacity: 0;
}



/* FOOTER STYLES */
.credit-section{
    width: 90%;
    padding-top: 20vh;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 3em;
  }
  .team-container{
    margin-bottom: 3em;
  }
  .team-title{
    color: #FFF;
    /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
    /* font-size: 20px; */
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-bottom: 1px solid white;
    padding: 4px 0px;
    width: 80%;
  }
  
  .names{
    color: #FFF;
    /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
    font-size: 1em;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
  }

  /* mobile student list */
  .mobile-student-list{
    display: none;
  }

  .student-item {
    cursor: default;
    padding: 5px 0;
}

.student-item.clickable {
    color: #ffffff; 
    cursor: pointer;
}
  /* Adjust aspect ratio dynamically */
@media screen and (max-aspect-ratio: 16/9) { 

    #video {
        width: 200.78vh; 
        height: 100vh;
    }
}

@media screen and (min-aspect-ratio: 21/9) {
    /* If the screen is extra wide (e.g., ultrawide monitor), prioritize width */
    #video {
        width: 100vw;
        height: 30.85vw; /* 21:9 aspect ratio */
    }
}


@media screen and (max-width: 768px) { 
    #video {
        width: 390vw;
        height: 130vh;
    }

}
  
  @media (max-width: 1100px) {
    .credit-section{
      grid-template-columns: repeat(3, 1fr); 
    }
    #test-grid{
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 90%;
    }
  }
  
  @media (max-width: 600px) {
    .credit-section{
      grid-template-columns: repeat(2, 1fr); 
    }
    #test-grid{
        display:grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 90%;
    }
    .mobile-student-list {
        margin: auto;
        display: block;
        width: 90%;
        color: #FFF;
        /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
        font-size: 1em;
        font-weight: 400;
        line-height: 2em;
        letter-spacing: 0.5px;
        text-align: center;
        padding: 1em 0;
        margin: 3em auto;
        font-weight: normal;
    }
    .mobile-student-list-title {
        color: #FFF;
        /* font-family: 'Authentic', Arial, Helvetica, sans-serif; */
        text-align: center;
        font-style: normal;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 0.5em 0;
        margin: 0 0 1em 0;
        border-bottom: 1px solid white;
        cursor: pointer; /* Make it look clickable */
    }
    
    /* Initially hidden */
    .student-names {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    
    /* Expanded state */
    .student-names.show {
        max-height: 1400px;
    }
  }
  
  @media (max-width: 480px) {
    .credit-section{
    width: 80%;
    grid-template-columns: repeat(1, 1fr); 
    }
    #test-grid{
        display:grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 90%;
    }
  }